@tailwind base;
@tailwind components;
@tailwind utilities;


.transition-custom {
  transition: all 0.25s ease-in-out;
}

:root {
  --color-primary: rgb(239 68 68);
  --color-secondary: rgb(34 197 94);
  --color-bg: rgb(26, 28, 36);
  --color-tertiary: #FFE500;
  --color-tertiary-2: #2D2B1A;
  --color-navbar-bg: rgb(31 32 41);
  --color-chatbar-bg: rgb(23, 25, 32);
  --color-chat-text: #5972B9;
  --color-gray-2: #242734;
  --color-gray-3: rgb(51, 53, 65);
  --color-light-gray-1: #9291A0;
  --gray-1: rgb(36, 39, 52);
  --gray-action-btn: #31353d;
  --gradient-border-nav: linear-gradient(90deg, rgba(78, 180, 191, 0.12) 0%, rgba(43, 217, 168, 0.12) 100%);
  --green-gradient: linear-gradient(90deg, #4EB4BF 0%, #2BD9A8 100%);
  --filter-dropdown: rgba(83, 108, 122, 0.15);
  --filter-dropdown-hover: rgba(83, 108, 122, 0.4);
  --case-background: rgba(90, 127, 148, 0.16);
  --case-min-height: 280px;
  --case-min-width: 270px;
  --purple-gradient: linear-gradient(90deg, #AE49F2 0%, #8A66D9 100%);
  --bg-dark: rgb(31 32 41);
  --carousel-color: rgba(10, 24, 45, 1);
  --main-element-background: rgba(29, 33, 38, 1);
  --case-consumer-grade-color: rgba(176, 195, 217, 0.7);
  --case-consumer-grade-color-transparent: rgba(176, 195, 217, 0.2);
}

html {
  font-family: var(--font-inter);
}

/* Webkit scrollbar styles (Chrome, Safari, newer versions of Opera) */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

/* Webkit scrollbar styles (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 4px; /* Reduced from 7px to 4px */
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 2px; /* Reduced from 4px to 2px to match the thinner width */
}

/* Show scrollbar on hover for all elements */
*:hover {
  scrollbar-color: rgb(55 65 81) transparent; /* For Firefox */
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgb(55 65 81);
}

.gradient-text {
  background: var(--green-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.gradient-background {
  background: var(--green-gradient);
}

.filter-dropdown {
  background: var(--filter-dropdown);
}

.filter-dropdown:hover {
  background: var(--filter-dropdown-hover);
}

.case-consumer-grade {
  background: radial-gradient(circle, rgb(176, 195, 217) 0%, rgba(44, 49, 54, 0.2) 60%, transparent 80%) !important;
}

.case-industrial-grade {
  background: radial-gradient(circle, rgb(94, 152, 217) 0%, rgba(24, 38, 54, 0.2) 60%, transparent 80%) !important;
}

.case-mil-spec {
  background: radial-gradient(circle, rgb(75, 105, 255) 0%, rgba(19, 26, 64, 0.2) 60%, transparent 80%) !important;
}

.case-restricted {
  background: radial-gradient(circle, rgb(136, 71, 255) 0%, rgba(34, 18, 64, 0.2) 60%, transparent 80%) !important;
}

.case-classified {
  /*background: radial-gradient(circle, rgb(211, 44, 230) 0%, rgba(53, 11, 58, 0.2) 60%, transparent 80%) !important;*/
  background: rgba(2, 253, 255, 0.05) !important;
}

.bottom-bor {
  background: radial-gradient(50% 50% at 50% 50%, #58E208 0%, rgba(88, 226, 8, 0) 100%);
  box-shadow: 0px -5px 20px 0px rgba(2, 253, 255, 1);
}

.drop-shadow {
  background: radial-gradient(circle, rgb(211, 44, 230) 0%, rgba(53, 11, 58, 0.2) 60%, transparent 80%) !important
}

.case-covert {
  background: radial-gradient(circle, rgb(235, 75, 75) 0%, rgba(74, 34, 34, 0.2) 60%, transparent 80%) !important;
}

.case-extraordinary {
  background: radial-gradient(circle, rgb(255, 215, 0) 0%, rgba(64, 54, 0, 0.2) 60%, transparent 80%) !important;
}

.case-contraband {
  background: radial-gradient(circle, rgb(228, 174, 57) 0%, rgba(57, 44, 14, 0.2) 60%, transparent 80%) !important;
}

.case-consumer-grade-beam {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.case-consumer-grade-beam::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgb(176, 195, 217) 0%, rgba(176, 195, 217, 0) 100%);
  filter: drop-shadow(0px -5px 20px rgb(176, 195, 217));
}

.case-industrial-grade-beam {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.case-industrial-grade-beam::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgb(94, 152, 217) 0%, rgba(94, 152, 217, 0) 100%);
  filter: drop-shadow(0px -5px 20px rgb(94, 152, 217));
}

.case-mil-spec-beam {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.case-mil-spec-beam::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgb(75, 105, 255) 0%, rgba(75, 105, 255, 0) 100%);
  filter: drop-shadow(0px -5px 20px rgb(75, 105, 255));
}

.case-restricted-beam {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.case-restricted-beam::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgb(136, 71, 255) 0%, rgba(136, 71, 255, 0) 100%);
  filter: drop-shadow(0px -5px 20px rgb(136, 71, 255));
}

.case-classified-beam {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.case-classified-beam::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgb(211, 44, 230) 0%, rgba(211, 44, 230, 0) 100%);
  filter: drop-shadow(0px -5px 20px rgb(211, 44, 230));
}

.case-covert-beam {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.case-covert-beam::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgb(235, 75, 75) 0%, rgba(235, 75, 75, 0) 100%);
  filter: drop-shadow(0px -5px 20px rgb(235, 75, 75));
}

.case-extraordinary-beam {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.case-extraordinary-beam::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgb(255, 215, 0) 0%, rgba(255, 215, 0, 0) 100%);
  filter: drop-shadow(0px -5px 20px rgb(255, 215, 0));
}

.case-contraband-beam {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.case-contraband-beam::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgb(228, 174, 32) 0%, rgba(228, 174, 32, 0) 100%);
  filter: drop-shadow(0px -5px 20px rgb(228, 174, 32));
}

.case-consumer-grade-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(176, 195, 217) 0%, rgba(44, 49, 54, 0) 100%);
}

.case-industrial-grade-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(94, 152, 217) 0%, rgba(24, 38, 54, 0) 100%);
}

.case-mil-spec-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(75, 105, 255) 0%, rgba(19, 26, 64, 0) 100%);
}

.case-restricted-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(136, 71, 255) 0%, rgba(34, 18, 64, 0) 100%);
}

.case-classified-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(211, 44, 230) 0%, rgba(53, 11, 58, 0) 100%);
}

.case-covert-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(235, 75, 75) 0%, rgba(59, 19, 19, 0) 100%);
}

.case-extraordinary-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(255, 215, 0) 0%, rgba(64, 54, 0, 0) 100%);
}

.case-contraband-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(228, 174, 57) 0%, rgba(57, 44, 14, 0) 100%);
}

.cases-consumer-grade {
  background: linear-gradient(180deg, var(--case-background) 30%, var(--case-consumer-grade-color) 100%) !important;
}

.cases-industrial-grade {
  background: linear-gradient(180deg, var(--case-background) 30%, var(--case-industrial-grade-color) 100%) !important;
}

.cases-mil-spec {
  background: linear-gradient(180deg, var(--case-background) 30%, var(--case-mil-spec-color) 100%) !important;
}

.cases-restricted {
  background: linear-gradient(180deg, var(--case-background) 30%, var(--case-restricted-color) 100%) !important;
}

.cases-classified {
  background: linear-gradient(180deg, var(--case-background) 30%, var(--case-classified-color) 100%) !important;
}

.cases-covert {
  background: linear-gradient(180deg, var(--case-background) 30%, var(--case-covert-color) 100%) !important;
}

.cases-extraordinary {
  background: linear-gradient(180deg, var(--case-background) 30%, var(--case-extraordinary-color) 100%) !important;
}

.cases-contraband {
  background: linear-gradient(180deg, var(--case-background) 30%, var(--case-contraband-color) 100%) !important;
}

.case {
  background: var(--case-background);
  min-height: var(--case-min-height, 272px);
  min-width: var(--case-min-width, 280px);
}

.purple-gradient-border {
  border: 1px solid transparent;
  border-image: var(--purple-gradient);
  border-image-slice: 1;
}

.purple-gradient-bg {
  background: linear-gradient(90deg, rgba(174, 73, 242, 0.15) 0%, rgba(138, 102, 217, 0.15) 100%);
}

.purple-gradient-text {
  background: var(--purple-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-dark {
  background: var(--bg-dark);
}

.carousel-color {
  background: var(--carousel-color);
}

.cases-container {
  transition: grid-template-columns 0.5s ease-in-out;
}

.main-element {
  box-shadow: 0 4px #1a1d22, 0 20px 50px #00000073, inset 0 1px #252a30;
  background: var(--main-element-background);
}


@keyframes shimmer {
  0% { background-position: -468px 0; }
  100% { background-position: 468px 0; }
}

.shimmer {
  background: linear-gradient(to right, #2c3440 8%, #3c4858 18%, #2c3440 33%);
  background-size: 800px 104px;
  animation: shimmer 1.5s linear infinite;
}

@keyframes middle-item {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes scale-down {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes final-item-scale-up {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}


.animate-middle-item {
  animation: middle-item 700ms linear forwards;
}

.animate-final {
  animation: final-item-scale-up 500ms linear forwards;
}

.animate-scale-down {
  animation: scale-down 300ms linear forwards;
}

@keyframes smooth-hover {
  0%, 100% {
    transform: translateY(0) scale(1.2);
  }
  50% {
    transform: translateY(-20px) scale(1.2);
  }
}

.animate-final-item {
  animation: smooth-hover 3s ease-in-out infinite;
}

.case-consumer-grade-blur {
  position: absolute;
  inset: 0;
  background-color: rgb(176, 195, 217, 0.2);
  mix-blend-mode: hue;
  filter: blur(20px);
}

.case-industrial-grade-blur {
  position: absolute;
  inset: 0;
  background-color: rgb(94, 152, 217, 0.2);
  mix-blend-mode: hue;
  filter: blur(20px);
}

.case-mil-spec-blur {
  position: absolute;
  inset: 0;
  background-color: rgb(75, 105, 255, 0.2);
  mix-blend-mode: hue;
  filter: blur(20px);
}

.case-restricted-blur {
  position: absolute;
  inset: 0;
  background-color: rgb(136, 71, 255, 0.2);
  mix-blend-mode: hue;
  filter: blur(20px);
}

.case-classified-blur {
  position: absolute;
  inset: 0;
  background-color: rgba(211, 44, 230, 0.2);
  mix-blend-mode: hue;
  filter: blur(20px);
}

.case-covert-blur {
  position: absolute;
  inset: 0;
  background-color: rgba(235, 75, 75, 0.2);
  mix-blend-mode: hue;
  filter: blur(20px);
}

.case-extraordinary-blur {
  position: absolute;
  inset: 0;
  background-color: rgb(255, 215, 0, 0.2);
  mix-blend-mode: hue;
  filter: blur(20px);
}

.case-contraband-blur {
  position: absolute;
  inset: 0;
  background-color: rgb(228, 174, 32, 0.2);
  mix-blend-mode: hue;
  filter: blur(20px);
}

.case-consumer-grade-container-highlight {
  background-color: rgba(176, 195, 217, 0.15);
}

.case-industrial-grade-container-highlight {
  background-color: rgba(94, 152, 217, 0.15);
}

.case-mil-spec-container-highlight {
  background-color: rgba(75, 105, 255, 0.15);
}

.case-restricted-container-highlight {
  background-color: rgba(136, 71, 255, 0.15);
}

.case-classified-container-highlight {
  background-color: rgba(211, 44, 230, 0.15);
}

.case-covert-container-highlight {
  background-color: rgba(235, 75, 75, 0.15);
}

.case-extraordinary-container-highlight {
  background-color: rgba(255, 215, 0, 0.15);
}

.case-contraband-container-highlight {
  background-color: rgba(228, 174, 32, 0.15);
}

.case-consumer-grade-container {
  background-color: rgba(176, 195, 217, 0.05);
}

.case-industrial-grade-container {
  background-color: rgba(94, 152, 217, 0.05);
}

.case-mil-spec-container {
  background-color: rgba(75, 105, 255, 0.05);
}

.case-restricted-container {
  background-color: rgba(136, 71, 255, 0.05);
}

.case-classified-container {
  background-color: rgba(211, 44, 230, 0.05);
}

.case-covert-container {
  background-color: rgba(235, 75, 75, 0.05);
}

.case-extraordinary-container {
  background-color: rgba(255, 215, 0, 0.05);
}

.case-contraband-container {
  background-color: rgba(228, 174, 32, 0.05);
}

.case-consumer-grade-shadow {
  filter: drop-shadow(0px 0px 70px rgba(176, 195, 217, 1));
}

.case-industrial-grade-shadow {
  filter: drop-shadow(0px 0px 70px rgba(94, 152, 217, 1));
}

.case-mil-spec-shadow {
  filter: drop-shadow(0px 0px 70px rgba(75, 105, 255, 1));
}

.case-restricted-shadow {
  filter: drop-shadow(0px 0px 70px rgba(136, 71, 255, 1));
}

.case-classified-shadow {
  filter: drop-shadow(0px 0px 70px rgba(211, 44, 230, 1));
}

.case-covert-shadow {
  filter: drop-shadow(0px 0px 70px rgba(235, 75, 75, 1));
}

.case-extraordinary-shadow {
  filter: drop-shadow(0px 0px 70px rgba(255, 215, 0, 1));
}

.case-contraband-shadow {
  filter: drop-shadow(0px 0px 70px rgba(228, 174, 32, 1));
}

.example {
  box-shadow:
    inset 5px 5px 25px rgba(0, 0, 0, 0.5),
    inset -3px -3px 20px rgba(0, 0, 0, 0.4);
}

.action-btn-gray {
  background-color: #31353d;
  box-shadow: 0 10px 27px #010a1d1f, inset 0 2px #3b3f47, inset 0 -2px #272b33 !important;
}

.action-btn-gray:hover {
  transform: translateY(-2px);
  transition: all ease-in-out 200ms;
  filter: brightness(120%);
}

.action-btn-green {
  box-shadow: 0 10px 27px #00ff0c1a, 0 -3px #00913c inset, 0 2px #35d87b inset !important;
}

.action-btn-green:hover {
  transform: translateY(-2px);
  transition: all ease-in-out 200ms;
  filter: brightness(110%);
}
