@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: 78, 180, 191;
  --color-secondary: #4EB4BF;
  --gradient-border-nav: linear-gradient(90deg, rgba(78, 180, 191, 0.12) 0%, rgba(43, 217, 168, 0.12) 100%);
  --green-gradient: linear-gradient(90deg, #4EB4BF 0%, #2BD9A8 100%);
  --filter-dropdown: rgba(83, 108, 122, 0.15);
  --filter-dropdown-hover: rgba(83, 108, 122, 0.4);
  --case-background: rgba(90, 127, 148, 0.16);
  --case-min-height: 280px;
  --case-min-width: 270px;
  --case-restricted-color: rgba(174, 54, 255, 0.2);
  --purple-gradient: linear-gradient(90deg, #AE49F2 0%, #8A66D9 100%);
  --bg-dark: rgb(31 32 41);
  --carousel-color: rgba(10, 24, 45, 1);
  --main-element-background: rgba(29, 33, 38, 1);
}

.transition-custom {
  transition: all 0.25s ease-in-out;
}

.gradient-text {
  background: var(--green-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.gradient-background {
  background: var(--green-gradient);
}

.filter-dropdown {
  background: var(--filter-dropdown);
}

.filter-dropdown:hover {
  background: var(--filter-dropdown-hover);
}

.case-consumer-grade {
  background: radial-gradient(circle, rgb(176, 195, 217) 0%, rgba(44, 49, 54, 0.2) 60%, transparent 80%) !important;
}

.case-industrial-grade {
  background: radial-gradient(circle, rgb(94, 152, 217) 0%, rgba(24, 38, 54, 0.2) 60%, transparent 80%) !important;
}

.case-mil-spec {
  background: radial-gradient(circle, rgb(75, 105, 255) 0%, rgba(19, 26, 64, 0.2) 60%, transparent 80%) !important;
}

.case-restricted {
  background: radial-gradient(circle, rgb(136, 71, 255) 0%, rgba(34, 18, 64, 0.2) 60%, transparent 80%) !important;
}

.case-classified {
  background: radial-gradient(circle, rgb(211, 44, 230) 0%, rgba(53, 11, 58, 0.2) 60%, transparent 80%) !important;
}

.case-covert {
  background: radial-gradient(circle, rgb(235, 75, 75) 0%, rgba(74, 34, 34, 0.2) 60%, transparent 80%) !important;
}

.case-extraordinary {
  background: radial-gradient(circle, rgb(255, 215, 0) 0%, rgba(64, 54, 0, 0.2) 60%, transparent 80%) !important;
}

.case-contraband {
  background: radial-gradient(circle, rgb(228, 174, 57) 0%, rgba(57, 44, 14, 0.2) 60%, transparent 80%) !important;
}

.case-consumer-grade-beam {
  background-color: rgb(176, 195, 217);
  box-shadow: 0px 0px 10px 2px rgba(176, 195, 217, 0.75);
}

.case-industrial-grade-beam {
  background-color: rgb(94, 152, 217);
  box-shadow: 0px 0px 10px 2px rgba(94, 152, 217, 0.75);
}

.case-mil-spec-beam {
  background-color: rgb(75, 105, 255);
  box-shadow: 0px 0px 10px 2px rgba(75, 105, 255, 0.75);
}

.case-restricted-beam {
  background-color: rgb(136, 71, 255);
  box-shadow: 0px 0px 10px 2px rgba(136, 71, 255, 0.75);
}

.case-classified-beam {
  background-color: rgb(211, 44, 230);
  box-shadow: 0px 0px 10px 2px rgba(211, 44, 230, 0.75);
}

.case-covert-beam {
  background-color: rgb(235, 75, 75);
  box-shadow: 0px 0px 10px 2px rgba(235, 75, 75, 0.75);
}

.case-extraordinary-beam {
  background-color: rgb(255, 215, 0);
  box-shadow: 0px 0px 10px 2px rgba(255, 215, 0, 0.75);
}

.case-contraband-beam {
  background-color: rgb(228, 174, 32);
  box-shadow: 0px 0px 10px 2px rgba(228, 174, 57, 0.75);
}

.case-consumer-grade-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(176, 195, 217) 0%, rgba(44, 49, 54, 0) 100%);
}

.case-industrial-grade-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(94, 152, 217) 0%, rgba(24, 38, 54, 0) 100%);
}

.case-mil-spec-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(75, 105, 255) 0%, rgba(19, 26, 64, 0) 100%);
}

.case-restricted-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(136, 71, 255) 0%, rgba(34, 18, 64, 0) 100%);
}

.case-classified-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(211, 44, 230) 0%, rgba(53, 11, 58, 0) 100%);
}

.case-covert-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(235, 75, 75) 0%, rgba(59, 19, 19, 0) 100%);
}

.case-extraordinary-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(255, 215, 0) 0%, rgba(64, 54, 0, 0) 100%);
}

.case-contraband-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgb(228, 174, 57) 0%, rgba(57, 44, 14, 0) 100%);
}

.case {
  background: var(--case-background);
  min-height: var(--case-min-height, 272px);
  min-width: var(--case-min-width, 280px);
}

.purple-gradient-border {
  border: 1px solid transparent;
  border-image: var(--purple-gradient);
  border-image-slice: 1;
}


.purple-gradient-text {
  background: var(--purple-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-dark {
  background: var(--bg-dark);
}

.carousel-color {
  background: var(--carousel-color);
}

.cases-container {
  transition: grid-template-columns 0.5s ease-in-out;
}

.main-element {
  box-shadow: 0 4px #1a1d22, 0 20px 50px #00000073, inset 0 1px #252a30;
}

@keyframes shimmer {
  0% { background-position: -468px 0; }
  100% { background-position: 468px 0; }
}

.shimmer {
  background: linear-gradient(to right, #2c3440 8%, #3c4858 18%, #2c3440 33%);
  background-size: 800px 104px;
  animation: shimmer 1.5s linear infinite;
}

@keyframes middle-item {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes scale-down {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes final-item {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.25);
  }
}

.animate-middle-item {
  animation: middle-item 700ms linear forwards;
  opacity: 1;
}

.animate-scale-down {
  animation: scale-down 300ms linear forwards;
  opacity: 0.5;
}

.final-item {
  opacity: 1;
  transform: translateY(20px);
}
